body{
    background-image: url(image.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}
#clockContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#clock{
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    color: white;
    backdrop-filter: blur(5px);
    width: 100%;
    background-color: hsla(0, 0%, 100%,0.15);
    text-shadow: 3px 3px 5px hsl(0, 0%, 0%);
}